h1 {
  text-align: center;
  background-color: antiquewhite;
}

.device {
  background-color: aqua;
  margin: 50px;
  padding: 5px;
}

p {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  float: right;
}
